<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>InitInfoServlet</servlet-name>
    <servlet-class>servlet.InitInfoServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/dms</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>123456</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>m1</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m2</servlet-name>
    <servlet-class>servlet.regesteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m2</servlet-name>
    <url-pattern>/regeste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m3</servlet-name>
    <servlet-class>servlet.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m3</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m4</servlet-name>
    <servlet-class>servlet.SysAdmSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m4</servlet-name>
    <url-pattern>/SysAdmSearch</url-pattern>
  </servlet-mapping>
</web-app>